.EditorYear .add_complete_div{
    /* border : 1px black solid; */
    display: flex;
    align-items: end;
    justify-content: flex-end; 
    align-items: center;
    margin: 3% 0%;
    gap: 2.5%;
    padding: 5px 0px;
    /* width: 100%; */
}
.EditorYear .add_complete_div button {
    height: 15%;
    padding: 1%;
    border : none;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}

.completeButton{
    white-space: nowrap;
    width: 17.8%;
    background-color: rgb(81, 120, 206);
    color: aliceblue;
    font-size: 16px;
    border-radius: 5px;
}

.plusButton{
    margin-right: 1%;
    border-radius: 5px;
    width: 10%;
    color: white;
    background-color: rgb(81, 120, 206);
    font-size: 18px;

}

.EditorYear section {
    margin-top: 3%;
}
.EditorYear .item_section {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.item_section textarea{
    font-size: 17px;
    padding-top: 6%;
    padding-left: 3%;
    resize: none;
    border-radius: 5px;
    border : none;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}
.item_section button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(236,236,236);
    font-size: 18px;
    width: 10%;
    border : none;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}

.yearTempWrapper{
    margin-top : 40px;
}

.yearTempTitle{
    font-size: 17px;
}

.yearTempMemo{
    width : 88%;
    height: 200px;
    background-color: rgb(236, 235, 240);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* 클릭 가능한 커서 스타일 */
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}
.yearTempButtonWrapper{
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yearTempButton{
    white-space: nowrap;
    padding: 3px;
    background-color: rgb(81, 120, 206);
    color: aliceblue;
    font-size: 18px;
    width: 17.8%;
    height: 27px;
    border: none;
    border-radius: 5px;
    /* padding: 10px 20px; */
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}